button {
    background: none;
}


.c-buymenu {
    display: inline-block;
    width: 100%;
    height: 100%;
        &__like,
        &__reverse,
        &__time,
        &__add {
            display: none;
        }
}



.c-buymenu:hover {
    border-width: 10px;
    border-color:  $white;
    border-style: solid;
    background-color:  $link-hover-black-color;
    opacity: 0.55;
    display: grid;
    grid-gap: 10px;
    grid-template: repeat(2,48px)/repeat(3,48px);
    justify-content: center;
    align-content: center;
    
}


.c-buymenu:hover .c-buymenu__like, .c-buymenu__like:hover,
.c-buymenu:hover .c-buymenu__reverse, .c-buymenu__reverse:hover,
.c-buymenu:hover .c-buymenu__time, .c-buymenu__time:hover,
 {
    display: grid;
    border-width: 1px;
    border-color:  $white;
    border-style: solid;
    width: 48px;
    height: 48px;
    
}
.c-buymenu:hover .c-buymenu__add, .c-buymenu__add:hover {
    display: grid;
    border-width: 1px;
    border-color:  $white;
    border-style: solid;
    width: 164px;
    height: 48px;
}


.c-buymenu__like_active,
.c-buymenu__reverse_active,
.c-buymenu__time_active,
.c-buymenu__add_active
{
    color:  $white;
}

.c-buymenu__like_active:hover,.c-buymenu__reverse_active:hover,
 .c-buymenu__time_active:hover {
    display: grid;
    color:  $white;
    background-color:  $main-theme;
    height: 100%;
    width: 1fr;
    align-items: center;
}

.c-buymenu__add_active:hover {
    display: flex;
    color:  $white;
    background-color:  $link-hover-black-color;
    height: 100%;
    width: 1fr;
    background-color: $itemvalue-background-color;
}

.c-addcart {
    text-transform: uppercase;
    @include font-source-sans($font-size-links, $white, 400,32px);
}
