

$grey: grey;
$call-text-shadow-color: rgba(16, 243, 65, 0.288);
$hidden-menu-shadow-color: rgba(219, 7, 238, 0.288);
$background-item-value-price: rgba(255, 255, 255, 0.44);
$header-background-color: #1abc9c;
$header-link-color: #fefefe;
$link-hover-black-color: #000000 ;
$link-focus-color: rgb(0, 110, 46) ;
$main-theme: #1abc9c;
$white:#fff;
$content-link-mart-color:#555252;
$content-link-section-theme-color: #0f0101;
$section-headlines-color: #515151;
$section-background-color: #e9f0fd;
$itemvalue-background-color: #323232;
$section-border-hover-coler: #323232;
$border-nav-color: #959595;
$section-font-color:  #fffefe;;
$main-theme-lithen: #4ec6ab;
$back-btn-menu: rgb(13, 189, 42);
$hover-contacts-logo:  #46bfa9;
$footer-main-theme-color: #000000 ;
$footer-text-color: #fefefe;
$footer-text-main-theme-color:  #46bfa9;
$footer-text-main-theme-hover-color: rgba(219, 7, 238, 0.288);

