.tabset-wrapper, .tabset-elements{
    width: 100%;
}

.tabset-titles {
    padding: 10px 10px 0;
    border-bottom: 1px solid rgb(70, 70, 44);

}

.tabset-elements{
    border: 1px solid rgb(70, 70, 44);
    border-top-width: 0px;
}

.tabset-heading {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-bottom: 0;
    margin-bottom: -1px;
    cursor: pointer;
}

.tabset-heading:hover{
    border-color:rgb(70, 70, 44);
}

.tabset-heading.active {
    border-color: rgb(70, 70, 44);
    
    background-color: bisque;
}

.tabset-element {
    
    display: none;
}

.tabset-element.active {
    display: block;
}
.tabset-body{
    background-color: bisque;
    height: 80px;
    padding-left: 10px;
    
}