$font-size-links: 14px ;
$font-size-paragrh: 14px ;
$font-size-mart: 30px;
$font-size-cart: 18px;
$font-size-options: 19px;
$font-size-section: 48px;
$font-size-hover-menu: 20px;
$font-size-section-headline-first: 60px;
$font-size-section-headline-second: 36px;
$font-size-follow: 16px;
$font-size-section-mart: 30px;
$font-size-section-welove-mart: 18px;
$font-size-paragrh-fixed: 13px ;